html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
button,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  border: 0;
  font-size: 100%;
  font: sans-serif;

  vertical-align: baseline;
}

/* HTML5 fonts */
h1 {
  font-size: 3em;
  font-weight: bolder;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  font-weight: normal;
}
h4 {
  font-size: 1em;
  font-weight: lighter;
}
h5 {
  font-size: 0.75em;
  font-weight: lighter;
}

img {
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
